<% include ../partials/header %>

<div class="container">
    <div class="row justify-content-center text-center mb-3">
        <div class="col-md-6 col-ml-4">
            <h3>Edit <%= campground.name %></h3>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6 col-ml-4">
            <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="campground[name]" value="<%= campground.name %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text"name="campground[image]" value="<%= campground.image %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text"name="campground[description]"  value="<%= campground.description %>">
                </div>
                <button class="btn btn-block btn-primary">Submit</button>
            </form>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6 col-ml-4">
            <a href="/campgrounds">Go Back</a>
        </div>
    </div>
</div>
<% include ../partials/footer %>